@tailwind base;
@tailwind components;
@tailwind utilities;

/* Stile per nascondere scrollbar su tutti i browser */
.custom-scrollbar::-webkit-scrollbar {
  display: none;
}
.custom-scrollbar {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}